.wrapper {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 50px;
    background: rgb(143, 141, 8);
    background: linear-gradient(240deg, rgba(143, 141, 8, 1) 0%, rgba(220, 117, 34, 1) 19%, rgba(206, 189, 58, 1) 37%, rgba(137, 172, 15, 1) 56%, rgba(18, 183, 95, 1) 78%, rgba(20, 111, 194, 1) 100%);
}

.container {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60%;
    background-color: rgb(206, 206, 206);
    padding: 10px 20px 30px 20px;
    justify-content: center;
    border-radius: 10px;
}

.title {
    color: rgb(63, 63, 63);
    font-size: 40x;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.cel,
.far,
.kel {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

.celinp,
.farninp,
.kelinp {
    border: 1px solid black;
    padding: 15px;
    /* margin: top right bottom left; */
    margin: 20px 80px 20px 80px;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 25px;
    outline: none;
    border-radius: 5px;
}

input::placeholder {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .title {
        font-size: 20px;
    }
    .celinp,
    .farninp,
    .kelinp {
        font-size: 15px;
    }
}